body {
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 17px;
}


h1, h2, h3{
    margin-top: 0;
}

/* HEADER STYLING*/

header {
    background-image:url(images/backgr-img.webp) ;
    color: white;
    height: 60vh;
    background-size: cover;
    background-position: center;
    opacity: 0.9;

}

.container h1 {
    padding-top: 150px;
    padding-left: 30px;
    padding-right: 30px;
}

.first-paragraph {
    max-width:80%;
    margin: auto;
}

.button {
    border: solid 1px white;
    width: 100px;
    margin: auto;
    padding: 15px;
    margin-top: 20px;
    background-color: rgb(40, 38, 38);
}

.button:hover{
    background-color: darkorange;
}

/* CONTENT SECTION AS A ONE PARAGRAPH*/


.content{
    background-color: white;
    text-align: center;
    padding: 40px;
}

.light-grey {
    background-color: lightgrey;
}


/* CARDS SECTION VERTICALLY */

.cards-wrapper {
    background-color:rgb(72, 69, 69) ;
    padding: 20px 0px;
}

.card-box {
    background-color: white;
    margin: 20px;
}

img {
    width: 100%;
}


/* CONTACT AND ABOUT SECTION VERTICALLY*/

.blue {
    background-color: rgb(40, 172, 225);
    color: white;
}

.gray {
    color: white;
    background-color: rgb(72, 69, 69);
}

/* FOOTER */
.black {
    
    background-color: black;
    color: white;
}


.traversy {
    color:  rgb(40, 172, 225);
    text-decoration:none;
}

 /* TABLET AND DESKTOP */

 @media screen and (min-width: 768px) {

    /* DIVIDING ONE PARAGRAPH INTO 2 COLUMNS */
     .second-paragraph {
         columns: 2;
         column-gap: 2%;
         padding: 0px 40px;
     }

     /* MAKING 3 CARD-BOXES HORIZONTALLY */
    .cards-wrapper{
        
      display:inline-flex;
      justify-content: space-evenly;
      justify-content: center;
      width: 100%;
     
    }
    
    .card-box {
        
        border: oldlace solid 1px;
        color: black;
        background-color: white;
        max-width: 200px;
       
    }

    .card-text{
        padding: 20px;
    }
    
    img {
        width: 100%; 
    } 
    

    /* MAKING CONTACT AND ABOUT SECTION NEXT TO EACH OTHER */
    .blue-gray {
        display: grid;
        grid-template-columns:repeat(2, 1fr);
    }
 }